form {
    margin-block-end: 0;
}

button {
border-radius: 4px;
margin: 2px;
}

.buttonVert {
display: inline-block;
padding: 2px 4px;
margin: 3px 2px;
font-size: 16px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
background-color: #85db85;
border: none;
border-radius: 5px;
box-shadow: 2px 2px #999;
}

.buttonVert:hover {background-color: #52c452}

.buttonVert:active {
background-color: #52c452;
box-shadow: 0 0 #666;
transform: translateY(2px) translateX(2px);
}

.CodeMirror {
background: transparent;
}

.CodeMirror-linenumber {
color: blue;
}

#srcCode:not(.readOnly) {
background-color: white;
}

#srcCode.readOnly {
background-color: #eee;
}

.error {
background-color: lightpink;
}

@font-face {
    font-family: 'DejaVuAvecCasio'; /*a name to be used later*/
    src: url('../../fonts/DejaVuAvecCasio.ttf'); /*URL to font*/
}

body {
    background-color: lightsteelblue;
}

#calculator-keys {
    display: block; 
    padding-bottom: 4px;
}